.swiper-pagination-bullets {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
 }

 .swiper-pagination-bullet {
    cursor: pointer;
    width: 6px;
    height: 6px;
    background-color: #65B4FF;
    transition: 0.2s;
 }

 .swiper-pagination-bullet-active {
  width: 8px;
  height: 8px;
  background-color: #65B4FF;
  position: relative;

  &:after{
    content: '';
    position: absolute;
    top: -8px;
    bottom: -8px;
    left: -8px;
    right: -8px;
    border: 1px solid #ADD7FF;
    background: transparent;
    border-radius: 50%;
  }
 }

 .swiper-button-disabled{
  opacity: 0.4;
 };